<%= @user.email %>

<% @user.goals.each do |goal| %>
    <%= goal.goal_title %>
    <%= goal.description %>
    <%= goal.public ? "Public" : "Private" %>
    <%= goal.completed ? "Completed" : "Incomplete" %>
    <%= button_to "Delete goal", goal_path(:id => goal.id), :method => :delete %>
<% end %>


<% @user.comments.each do |comment| %>
    <%= comment.comment_text %>
<% end %>

<h2>
    New Comment
</h2>

<%= render "shared/comments_form", commentable_type: "User", commentable_id: @user.id %>